.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.demo-title{
  color: darkblue;
}

.logo{
  max-height: 100px;
}

.dashboard{
  background-color: lightgrey;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
}

.sensor-value{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  min-width: 200px;
}

.sensor-button{
  min-width: 250px;
  box-shadow: 0 10px #999
}
.sensor-button:hover{
  transition: 0.2s;
  background-color: grey;
}
.sensor-button:active{
  background-color: grey;
  box-shadow: 0 4px #333;
  transform: translateY(4px);
}

.mode-selected{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  transition-duration: 1s;
  box-shadow: 0 3px red;
}

.mode-unselected{
  text-decoration-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
}

.settings-button{
  margin-left: 2px;
  margin-right: 2px;
}